.App {
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100vh;
}

#updateBtn{
  position:relative;
  top:-30%;
  cursor:pointer;
  color:rgb(255, 255, 255);
  border-radius:5px;
  padding:5px;
  font-size: 105%;
  color:rgb(84, 1, 67);
  border: 2px double rgb(84, 1, 67);
  background-color:rgb(253, 243, 245);
}

#updateBtn:hover{
  background-color:rgb(21, 255, 0);
  background-color:rgb(255, 213, 0);
  border: 2px double rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}